<form class="{{cssClass}}" autocomplete="off">
    <i class="background">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

    <label>Déscription
        <textarea name="data.description">{{data.data.description}}</textarea>
    </label>

    <label>Dégats
        <input name="data.degats" type="text" value="{{data.data.degats}}" placeholder=""/>
    </label>

    <label>Effects
        <input name="data.effets" type="text" value="{{data.data.effets}}" placeholder=""/>
    </label>
</i>
</form>